% Docker session bash type:
%     BASH = "/bin/bash"
%     SH = "/bin/sh"
%     DASH = "/bin/dash"
%     KSH = "/bin/ksh"
%     ZSH = "/bin/zsh"
%     CSH = "/bin/csh"
%     TCSH = "/bin/tcsh"
%     FISH = "/bin/fish"

% Docker Restart Policy type:
%     NO = "no"
%     ON_FAILURE = "on-failure"
%     ALWAYS = "always"
%     UNLESS_STOPPED = "unless-stopped"

docker_image="dns_collector"
image_tag="latest"
bash_type="SH"
restart_policy="UNLESS_STOPPED"
setup="python main.py --setup"